/* Retro Terminal Theme */
ul.contact li {
	list-style: none;
}
ul li {
	list-style: none;
}
.nav {
	background-color: #FFF8E8;
	padding: 10px;
	text-align: center;
	border-top: 2px solid #0E1C36;
	border-bottom: 2px solid #0E1C36;
	margin-bottom: 10px;
}
.date {
	text-align: center;
	color: #0E1C36;
	margin-bottom: 10px;
}
body {
	background-color: #FFF8E8;
	color: #0E1C36;
	font-family: 'Courier New', Courier, monospace, monospace;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;

}

a {
	color: #0E1C36;
	text-decoration: none;
}
button a {
    color: inherit; /* Inherit the button's text color */
    text-decoration: none; /* Remove underline from links */
}

button a:hover {
	color: #FFF8E8;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

header, footer {
	background-color: #111;
	padding: 10px;
	text-align: center;
	border-top: 2px solid #0E1C36;
	border-bottom: 2px solid #0E1C36;

}
h1 {
	font-family: 'Courier New', Courier, monospace;
	font-weight: normal;
	font-size: 16px;
	padding: 10px;
	text-align: center;
}
button {
	background-color: FFF8E8;
	color: #0E1C36;
	border: 1px solid #0E1C36;
	margin: 1px;
    font-family: inherit; /* Inherit font family from body */
    font-size: inherit; /* Inherit font size from body */
    line-height: inherit; /* Inherit line height from body */
	cursor: pointer;
	text-align: left;;

}

button:hover {
	background-color: #0E1C36;
	color: rgb(255, 255, 255);
}

input, textarea {
	background-color: black;
	color: #ffffff;
	border: 1px solid #ffffff;
	font-family: 'Courier New', Courier, monospace;}

::selection {
	background-color: #ffffff;
	color: black;
}
.grid-item img {
    width: 100%; /* Make the image fill the width of the grid item */
    height: auto; /* Maintain the aspect ratio */
    object-fit: unset; /* Ensure the image fits within the grid item */
    object-position: bottom;
	max-height: auto; /* Prevent the image from exceeding the grid item's height */
    display: block; /* Remove any inline spacing below the image */
}
/* Responsive Styles */


.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Single column on mobile */
    grid-gap: 10px;
    width: 100%;

}
.subgrid-container {
	display: grid;
	grid-template-columns:  1fr; /* Single column on mobile */
	grid-template-rows: repeat(auto-fill, minmax(100px, 1fr)); /* Auto-fill rows */
	grid-auto-flow: dense; /* Fill rows before columns */
	grid-gap: 10px;
	width: 100%;
}
.grid-item::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari) */
}
.grid-item {
    border: 3px double #0E1C36;
    padding: 5px;
    box-sizing: border-box;
    text-align: left;
	display: flex;
	overflow: scroll;
	flex-direction: column;
	justify-content: left;
	align-items: left;
	height: 100%;
}
.subgrid-item {
	border: 3px double #0E1C36;
	padding: 5px;
	box-sizing: border-box;
	text-align: left;
	display: flex;
	overflow: scroll;
	flex-direction: column;
	justify-content: left;
	align-items: left;
	height: 100%;
}

@media (max-width: 768px) {
	ul {
		padding-inline-start: 0px;
	}
	
}
 @media (min-width: 769px) {
	body {
		height: 100vh; 
	}
    .grid-container {
        
		width: 80%;
		margin-left: 10%;
		
    }
	.subgrid-container {
		grid-template-columns: repeat(2, 1fr);
		height: auto;
		width: 60%;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 20%;
	}
	.grid-item {
		height: auto; 
	}
}
img { 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
	mix-blend-mode: multiply;
}